@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  font-family: "Oswald", sans-serif;
  background-image: linear-gradient(to left, #03cafc, rgb(1, 102, 197));
}

h1 {
  margin: 20px;
  position: absolute;
  font-size: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
  letter-spacing: 2px;
  user-select: none;
}

.big-container {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}

.container {
  background: #fff;
  width: 65%;
  height: 400px;
  display: flex;
  border-radius: 5px;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 10px 10px 80px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 80px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 80px -8px rgba(0, 0, 0, 0.75);
}

.small-container1 {
  width: 45%;
  height: 100%;
  padding: 15px;
}

.recent-score {
  display: flex;
  justify-content: space-between;
}

#reff,
#bttn {
  width: 110px;
  height: 40px;
  background: #03cafc;
  margin-right: 30px;
  font-weight: 600;
  font-size: 17px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.score-records {
  width: 90%;
  height: 270px;
  margin-top: 40px;
  border: 2px solid #000;
  border-radius: 5px;
  overflow: auto;
  overflow-x: hidden;
}

.my-record {
  width: 100%;
  background: #fff;
  padding: 5px;
  margin: 3px 0;
}

.input-data * {
  margin-bottom: 15px;
}

#input,
#input1 {
  width: 85%;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #000;
}

h2 {
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  * {
    overflow: auto;
    overflow-x: hidden;
  }

  .container {
    width: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .small-container1 {
    width: 95%;
    margin-left: 10%;
  }
}
